@font-face {
  font-family: "Poppins";
  src: url("Poppins/Poppins-Regular.ttf");
}

body {
  font-family: "Poppins";
  margin: 0;
}
h3 {
  font-size: 25px;
}

p {
  color: dimgray;
}

.orange-highlight {
  color: orange;
}
.half-width {
  margin-top: 30px;
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.half-width img {
  margin-top: 30px;
  width: 70%;
}

.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
section {
  height: 500px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font: bold;
}
.dream-area {
  margin-top: 150px;
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.single-experience {
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
  background-color: white;
}
.experience-area {
  margin-top: 150px;
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
#full-stack {
  border-left: 7px solid;
  border-image: linear-gradient(lightsalmon, tomato);
  border-image-slice: 1;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
footer p {
  text-align: center;
  font-size: 12px;
}
